<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>Blend Group - WebGL Project</title>
	</head>
	<body onload="main();">

		<script type="text/javascript" src="js_helpers/mathHelper.js"></script>
		<script type="text/javascript" src="js_helpers/otherHelper.js"></script>
		<script type="text/javascript" src="js_helpers/perlin.js"></script>
		<script src="gl-matrix-min.js"></script>
		<script src="main.js"></script>
		<script src="Gauri.js"></script>
		<script src="CubeMap.js"></script>
		<script src="road.js"></script>
		<script src="shadow.js"></script>
		<script src="Sphere.js"></script>
		<script src="Mesh.js"></script>

		<script src="tejswini_script_variables.js"></script>
		<script src="tejswini_speaker_variables.js"></script>
		<script src="tejswini_tripod_variables.js"></script>
			
		<script src="tejswini_hut_variables.js"></script>
		<script src="tejswini_lamp_arch_variables.js"></script>
		<script src="tejswini_dramaname_texture_variables.js"></script>
		<script src="fire.js"></script>

		<script src="GauriScene2Geometry.js"></script>
		<script src="fire.js"></script>
		<script src="chair.js"></script>
		<script src="GauriStageLights.js"></script>
		<script src="GauriRoadside.js"></script>
		<script src="modelLoadingParser.js"></script>
		<script src="stove.js"></script>
		<script src="utensil.js"></script>
		<script src="GauriMic.js"></script>
		<script src="GauriCamera.js"></script>
		<script src="StarbucksOuter.js"></script>
		<script src="StarbucksInterior.js"></script>
		

		<script src="GauriChaiCup.js"></script>

		<script src="Mac.js"></script>
		<canvas id="dl" width="1500" height="900">
			Canvas not supported
		</canvas>
	</body>
</html>