<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<title>Deep's Canvas</title>
	</head>
	<body onload="main();">

		<script type="text/javascript" src="js_helpers/mathHelper.js"></script>
		<script type="text/javascript" src="js_helpers/otherHelper.js"></script>
		<script type="text/javascript" src="js_helpers/perlin.js"></script>
		<script src="gl-matrix-min.js"></script>
		<script src="main.js"></script>
		<script src="Gauri.js"></script>
		<script src="CubeMap.js"></script>
		<script src="road.js"></script>
		<script src="shadow.js"></script>
		<script src="Sphere.js"></script>
		<script src="Mesh.js"></script>
		<script src="canvas_tejswini_variables.js"></script>
		
		<script src="fire.js"></script>
		
		
		<canvas id="dl" width="1500" height="900">
			Canvas not supported
		</canvas>
	</body>
</html>